@font-face {
    font-family: 'Linux Biolinum';
    src: url('../fonts/LinBiolinum_R.woff') format('woff'),
         url('../fonts/LinBiolinum_Rah.ttf') format('truetype');
}
@font-face {
    font-family: 'Linux Biolinum';
    font-style: italic;
    src: url('../fonts/LinBiolinum_RI.woff') format('woff'),
         url('../fonts/LinBiolinum_RIah.ttf') format('truetype');
}
@font-face {
    font-family: 'Linux Biolinum';
    font-style: bold;
    src: url('../fonts/LinBiolinum_RB.woff') format('woff'),
         url('../fonts/LinBiolinum_RBah.ttf') format('truetype');
}

body {
    margin-top: 70px;
    margin-left: 60px auto;
    margin-right: 60px auto;
    width: 90%;
}


nav ul, footer ul {
    font-family: 'Linux Biolinum', monospace;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}


h1 {
/*    font-size: 3em;  */
    font-size: 38px;
    font-family: 'Linux Biolinum', monospace;
    color: green;
}
h1.title {
    font-size: 38px;
    font-family: 'Linux Biolinum', monospace;
    color: green;
}
h2 {
    font-size: 34px;
    font-family: 'Linux Biolinum', monospace;
    color: green;
}
h3 {
    font-size: 30px;
    font-family: 'Linux Biolinum', monospace;
    color: green;
}
h4 {
    font-size: 26px;
    font-family: 'Linux Biolinum', monospace;
    color: green;
}
h5 {
    font-size: 24px;
    font-family: 'Linux Biolinum', monospace;
    color: green;
}
h6 {
    font-size: 20px;
    font-family: 'Linux Biolinum', monospace;
    color: green;
}



p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1.1em;
}

/* ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
} */

#main-nav {
    margin: 0px;
    padding: 0px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: green;
}
#main-nav li {
    float: left;
}
#main-nav a {
    display: block;
    font-size: 1.75em;
    color: white;
    text-align: center;
    padding: 10px 16px 12px;  /* top then right and left then bottom */
}
#main-nav li a:hover:not(.active) {
    background-color: #111;
}
#main-nav li a:(.active) {
    background-color: black;
}




#headline1 {
    background-repeat: no-repeat;
    background-position: top center;
    padding: 0px;
    margin-bottom: 50px;
    width: 100%;
}
#headline1 img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

img {
     border: black 3px solid;
}





/* See Responsive image gallery in css tutorial for screen sizes of different dimensions */
div.img {
    margin: 20px;
/*    border: 3px solid green;  */
    display: inline-block;
    width: 400px;
}

div.img:hover {
/*    border: 2px solid #d5d5d5;  */
    border: 5px solid green;}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    padding: 15px;
    text-align: center;
}

