@font-face {
    font-family: 'Linux Biolinum';
    src: url('../fonts/LinBiolinum_R.woff') format('woff'),
         url('../fonts/LinBiolinum_Rah.ttf') format('truetype');
}
@font-face {
    font-family: 'Linux Biolinum';
    font-style: italic;
    src: url('../fonts/LinBiolinum_RI.woff') format('woff'),
         url('../fonts/LinBiolinum_RIah.ttf') format('truetype');
}
@font-face {
    font-family: 'Linux Biolinum';
    font-style: bold;
    src: url('../fonts/LinBiolinum_RB.woff') format('woff'),
         url('../fonts/LinBiolinum_RBah.ttf') format('truetype');
}

html {
    background-color: white;
}

body {
    margin-top: 71px;
    margin-left: 5%; /*60px;*/
    margin-right: 5%; /*60px;*/
    width: 80%;
    background-color: white;
}


nav ul, footer ul {
    font-family: 'Linux Biolinum', monospace;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}



a {
    text-decoration: none;
    color: #176ae8; /* sort of a sea blue */
}
a:hover {
    text-decoration: underline;
}


h1 {
/*    font-size: 3em;  */
    font-size: 38px;
    font-family: 'Linux Biolinum', monospace;
    color: green;
    text-align: center;
}
h1.title {
    font-size: 40px;
    font-family: 'Linux Biolinum', monospace;
    color: green;
}
h2 {
    font-size: 34px;
    font-family: 'Linux Biolinum', monospace;
    color: green;
    text-align: center;
    padding: 0px 15px 0px; /* (top, left/right, bottom) ALSO CHANGE: h2, p, h4.dt and footer */
}
h3 {
    font-size: 30px;
    font-family: 'Linux Biolinum', monospace;
    color: green;
    text-align: center;
}
h4 {
    font-size: 26px;
    font-family: 'Linux Biolinum', monospace;
    color: green;
    text-align: center;
}
h5 {
    font-size: 24px;
    font-family: 'Linux Biolinum', monospace;
    color: green;
    text-align: center;
}
h6 {
    font-size: 20px;
    font-family: 'Linux Biolinum', monospace;
    color: green;
    text-align: center;
}



p {
    font-size: 1.5em;
    font-family: 'Linux Biolinum', monospace;
    line-height: 1.4em;
    color: #333;
    text-align: justify;
    padding: 0px 20px 0px; /* (top, left/right, bottom) ALSO CHANGE: h2, p, h4.dt and footer */
}

/* below is same as above, but just center/left aligned */
.central {
    text-align: center;
}
.left {
    text-align: left;
}




/* Define style for definition/description list */
	/** 	e.g., CV 	**/
dl {
/*    display: block; */
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
dt {
    float: left;
    clear: left;
    width: 15%;  /* width of dd + dt ==100% */
    padding: 0;
    margin: 0;
}
dd {
    float: left;
    width: 85%;  /* width of dd + dt ==100% */
    padding: 0;
    margin: 0;
}
h4.dt {
    font-size: 26px;
    font-family: 'Linux Biolinum', monospace;
    color: green;
    text-align: left;
    padding: 0px 20px 0px; /* (top, left/right, bottom) ALSO CHANGE: h2, p, h4.dt and footer */
}
p.dd {
    font-size: 1.5em;
    font-family: 'Linux Biolinum', monospace;
    line-height: 1.4em;
    color: #333;
    text-align: left;
}




footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1.1em;
    padding: 0px 20px 8px; /* top, left/right, bottom */
}


/* Navigation bar specifics */
#main-nav {
    margin: 0px;
    padding: 0px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: green;
}
#main-nav li {
    float: left;
}
#main-nav a {
    display: block;
    font-size: 1.75em;
    color: white;
    text-align: center;
    padding: 10px 16px 12px;  /* top then right and left then bottom */
}
#main-nav li a:hover:not(.active) {
    background-color: #111;
}
#main-nav li a:(.active) {
    background-color: black;
}



/* Header picture specifics */
#headline1 {
    background-repeat: no-repeat;
    background-position: top center;
    padding: 0px;
    margin-bottom: 50px;
    width: 100%;
}
#headline1 img {
    width: 100%;
    height: 325px;
    margin: 0 auto;
    border-bottom: black 4px solid;
}




/* Blocks of pictures */
/**	e.g., index.html study systems	**/
/** See Responsive image gallery in css tutorial for screen sizes of different dimensions **/
div.img {
    margin: 20px;
    display: inline-block;
    width: 300px;
}


div.img:hover {
    border: 5px solid green;
    padding-right: 5px; /* =size of div.img:hover{border} */
}

div.img img {
    width: 100%;
    height: auto;
    border: black 3px solid;
}





/* Floating images */
/**	e.g., research.html pictures	**/
.img-desc {
    font-size: 1.5em;
    font-family: 'Linux Biolinum', monospace;
    line-height: 1.4em;
    color: #333;
    padding: 15px;
}

.left-img {
    float: left;
    margin: 20px;
    width: 350px;
}
.left-img img {
    width: 100%;
    height: auto;
    border: black 3px solid;
}
.left-img:hover .dropdown-contentL {
    display: block;
}
.teaser-contentL {
    position: absolute;
    background-color: #f9f9f9;
    max-width: 350px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    padding: 10px 12px;
    text-align: justify;
}
.dropdown-contentL {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    max-width: 450px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    padding: 10px 12px;
    text-align: justify;
}


.right-img {
    float: right;
    margin: 20px;
    width: 350px;
}
.right-img img {
    width: 100%;
    height: auto;
    border: black 3px solid;
}
.right-img:hover .dropdown-contentR {
    display: block;
}
.dropdown-contentR {
    right: 0;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    max-width: 450px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    padding: 10px 12px;
    text-align: justify;
}



