@font-face {
    font-family: 'Linux Biolinum';
    src: url('../fonts/LinBiolinum_R.woff') format('woff'),
         url('../fonts/LinBiolinum_Rah.ttf') format('truetype');
}
@font-face {
    font-family: 'Linux Biolinum';
    font-style: italic;
    src: url('../fonts/LinBiolinum_RI.woff') format('woff'),
         url('../fonts/LinBiolinum_RIah.ttf') format('truetype');
}
@font-face {
    font-family: 'Linux Biolinum';
    font-style: bold;
    src: url('../fonts/LinBiolinum_RB.woff') format('woff'),
         url('../fonts/LinBiolinum_RBah.ttf') format('truetype');
}

body {
    <!-- margin-bottom: 60px auto; -->
    <!-- margin-left: 40px auto; -->
    <!-- margin-top: 20px auto; -->
    <!-- margin-right: 60px auto; -->
    margin: 60px auto;
    width: 80%;
}


nav ul, footer ul {
    font-family: 'Linux Biolinum', monospace;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family: 'Linux Biolinum', monospace;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

#main-nav {
    position: fixed;
    width: 80%;
    background: green;
}
