@font-face {
    font-family: 'Linux Biolinum';
    src: url('../fonts/LinBiolinum_R.woff') format('woff'),
         url('../fonts/LinBiolinum_Rah.ttf') format('truetype');
}
@font-face {
    font-family: 'Linux Biolinum';
    font-style: italic;
    src: url('../fonts/LinBiolinum_RI.woff') format('woff'),
         url('../fonts/LinBiolinum_RIah.ttf') format('truetype');
}
@font-face {
    font-family: 'Linux Biolinum';
    font-style: bold;
    src: url('../fonts/LinBiolinum_RB.woff') format('woff'),
         url('../fonts/LinBiolinum_RBah.ttf') format('truetype');
}

body {
    margin-top: 120px;
    margin-left: 60px auto;
    margin-right: 60px auto;
    width: 80%;
}


nav ul, footer ul {
    font-family: 'Linux Biolinum', monospace;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}


h1 {
/*    font-size: 3em;  */
    font-size: 34px;
    font-family: 'Linux Biolinum', monospace;
}
h1.title {
    font-size: 38px;
    font-family: 'Linux Biolinum', monospace;
}
h2 {
    font-size: 30px;
    font-family: 'Linux Biolinum', monospace;
}
h3 {
    font-size: 24px;
    font-family: 'Linux Biolinum', monospace;
}
h4 {
    font-size: 18px;
    font-family: 'Linux Biolinum', monospace;
}
h5 {
    font-size: 16px;
    font-family: 'Linux Biolinum', monospace;
}
h6 {
    font-size: 12px;
    font-family: 'Linux Biolinum', monospace;
}



p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

/* ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
} */

#main-nav {
    margin: 0px;
    padding: 0px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: green;
}
#main-nav li {
    float: left;
}
#main-nav a {
    display: block;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 10px 16px 12px;  /* top then right and left then bottom */
}
#main-nav li a:hover:not(.active) {
    background-color: #111;
}
#main-nav li a:(.active) {
    background-color: black;
}


#headline1 {
/*    background-image: url(images/newsletter_headline1.gif);   */
    background-repeat: no-repeat;
    background-position: left top;
    padding-top:68px;
    margin-bottom:50px;
}

img {
     border: black 2px solid;
}
